img {
  position: relative;
  max-width: 180px;
  max-height: 180px;
  margin: 10px;
}

.imgDiv {
  border: 3px solid #555555;
  width: 200px;
  height: 200px;
}

section {
  width: 600px;
  display: flex;
  align-content: space-between;
}

p#message {
  visibility: hidden;
}

form {
  float: right;
}
